# Odvisnosti
node_modules/
**/node_modules/

# Začasne datoteke meritev
data/temp/
**/data/temp/

# Python
__pycache__/
*.pyc

# Podatkovne baze in okoljske spremenljivke
*.db
.env
.env.*

# Dnevniki
logs/
*.log
npm-debug.log*

# Arhivi
*.zip

# Sistemske datoteke
.DS_Store
Thumbs.db